/* Font Declaration */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400 500;
    src: url(./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 400 500;
    src: url(./assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf);
}

/* Design System */
:root {
    /* Colors */
    --clr-purple-100: oklch(87.778% 0.06256 296.257);
    --clr-purple-500: oklch(54.924% 0.20303 290.648);
    --clr-yellow-100: oklch(95.425% 0.02088 72.06);
    --clr-yellow-500: oklch(86.934% 0.12799 81.057);
    --clr-white: oklch(100% 0.00011 271.152);
    --clr-off-white: oklch(97.015% 0.00011 271.152);
    --clr-black: oklch(0% 0 0);


    /* Font families */
    --ff-sans: 'DM Sans', sans-serif;

    /* Font sizes */
    --fs-400: 1rem;
    --fs-500: 2rem;
    --fs-600: 2.25rem;
    --fs-700: 3rem;
    --fs-800: 4rem;

    /* Font weights */
    --fw-400: 400;
    --fw-500: 500;

    /* Line height */
    --lh-200: 0.92;
    --lh-250: 1.1;
    --lh-300: 1.2;
    --lh-400: 1.5;

    /* Letter spacing */
    --ls-100: -0.96px;
    --ls-200: -0.72px;
    --ls-300: -0.36px;
    --ls-400: 0px;

    /* Spacing */
    --sp-100: 0.25rem;  /* 4px */
    --sp-200: 0.5rem;   /* 8px */
    --sp-300: 0.75rem;  /* 12px */
    --sp-400: 1rem;     /* 16px */
    --sp-450: 1.125rem; /* 20px */
    --sp-500: 1.5rem;   /* 24px */
    --sp-600: 2rem;     /* 32px */
    --sp-700: 2.5rem;   /* 40px */
    --sp-800: 3rem;     /* 48px */
    --sp-900: 3.5rem;   /* 56px */
}

@layer reset {
    /* Box sizing rules */
    *, *::before, *::after {
    box-sizing: border-box;
    }

    /* Remove default margin in favour of better control in authored CSS */
    h1, h2, h3, h4, p {
    margin: 0;
    }

    /* Set core body defaults */
    body {
    min-height: 100dvh;
    line-height: var(--lh-400);
    }

    /* Balance text wrapping on headings and set the font weight */
    h1, h2, h3, h4, h5 {
    font-weight: 500;
    }

    /* Make images easier to work with */
    img {
    inline-size: 100%;
    display: block;
    }
}

@layer base {    
    html {
    font-family: var(--ff-sans);
    scroll-behavior: smooth;
    }
    body {
    margin: var(--sp-400);
    align-content: center;
    font-size: var(--fs-400);    
    line-height: 1.5;
    color: var(--clr-black);
    background-color: var(--clr-off-white);
    }
}

@layer utilities {
    /* colors */
    .bg-purple-100 {background-color: var(--clr-purple-100);}
    .bg-purple-500 {background-color: var(--clr-purple-500);}
    .bg-yellow-100 {background-color: var(--clr-yellow-100);}
    .bg-yellow-500 {background-color: var(--clr-yellow-500);}
    .bg-white {background-color: var(--clr-white);}
    
    .text-black {color: var(--clr-black);}
    .text-white {color: var(--clr-white);}
    .text-purple-500 {color: var(--clr-purple-500);}
    .text-yellow-100 {color: var(--clr-yellow-100);}
    .text-yellow-500 {color: var(--clr-yellow-500);}

    /* typography */
    .italic {font-style: italic;}
    .text-center {text-align: center;}

    .fs-400 {font-size: var(--fs-400);}
    .fs-500 {font-size: var(--fs-500);}
    .fs-600 {font-size: var(--fs-600);}
    .fs-700 {font-size: var(--fs-700);}
    .fs-800 {font-size: var(--fs-800);}

    .lh-200 {line-height: var(--lh-200);}
    .lh-250 {line-height: var(--lh-250);}
    .lh-300 {line-height: var(--lh-300);}
    .lh-400 {line-height: var(--lh-400);}
    
    .ls-200 {letter-spacing: var(--ls-200);}
    .ls-300 {letter-spacing: var(--ls-300);}
    .ls-400 {letter-spacing: var(--ls-400);}
}

@layer components {
    .bento-grid {
        display: grid;
        gap: var(--sp-500);
        margin: auto;
        max-inline-size: 932px;
        grid-template-areas: 
            "cd-1"
            "cd-2"
            "cd-3"
            "cd-4"
            "cd-5"
            "cd-6"
            "cd-7"
            "cd-8";
        @media (width > 460px) {
            grid-template-areas: 
                "cd-1 cd-1"
                "cd-2 cd-4"
                "cd-3 cd-4"
                "cd-7 cd-6"
                "cd-5 cd-8";
        }
        
        @media (width > 960px) {
            margin: auto;
            grid-template-areas: 
                "cd-7 cd-1 cd-1 cd-4"
                "cd-7 cd-2 cd-3 cd-4"
                "cd-8 cd-2 cd-3 cd-4"
                "cd-8 cd-6 cd-5 cd-5";
        }
    }
    .card {
        border-radius: 12px;
        h2 {
            line-height: var(--lh-200);
            letter-spacing: var(--ls-100);
        }
        img {
            display: inline-block;
        }
        &:nth-child(1) {
            grid-area: cd-1;
            padding: var(--sp-600);
            h1 {
                margin-block-end: var(--sp-500);
            }
            img {
                inline-size: 65%;
            }
            @media (width > 460px) {
                img {
                    inline-size: 40%;
                }
            }                 
            @media (width > 960px) {
                padding: var(--sp-800);
                img {
                    inline-size: 40%;
                }
            }
        }
        &:nth-child(2) {
            grid-area: cd-2;
            padding: var(--sp-400);
            overflow: clip;
            img {
                inline-size: 100%;
                margin-block-end: var(--sp-300);
                border-radius: 999px;
                filter: drop-shadow(0px 8px 16px rgba(13, 1, 27, 0.15));
            }
            @media (width > 960px) {
                img {
                    inline-size: 148%;
                }
            }
        }
        &:nth-child(3) {
            grid-area: cd-3;
            padding: var(--sp-400);
            padding-block-end: 0;
            overflow: clip;
            img {
                margin-block-start: var(--sp-400);
                margin-block-end: -32px;
            }
            @media (width > 960px) {
                img {
                    margin-block-start: 0;
                    margin-block-end: -140px;
                    inline-size: 100%;
                }
            }
        }
        &:nth-child(4) {
            grid-area: cd-4;
            padding: var(--sp-600) var(--sp-400);
            overflow: clip;
            h2 {
                margin-block-end: var(--sp-500);
                padding-inline: 0;
            }
            img {
                margin-block-end: var(--sp-500);
                inline-size: 100%;
            }
            @media (width > 460px) {
                text-align: start;
            }      
            @media (width > 960px) {
                padding-inline-start: var(--sp-500);
                text-align: start;
                img {
                    margin-block-end: var(--sp-400);
                    inline-size: 180%;
                }
            }
        }
        &:nth-child(5) {
            grid-area: cd-5;
            padding: var(--sp-500) var(--sp-900);
            img {
                margin-block-end: var(--sp-600);
                inline-size: 100%;
            }
            @media (width > 460px) {
                padding: var(--sp-400) var(--sp-500);
                text-align: start;
                img {
                    inline-size: 100%;
                    margin-block-end: var(--sp-400);
                }
            }                  
            @media (width > 960px) {
                display: flex;
                gap: var(--sp-300);
                align-items: center;
                padding: var(--sp-400);
                text-align: start;
                img {
                inline-size: 50%;
                margin-block: auto;
                }
            }
        }
        &:nth-child(6) {
            grid-area: cd-6;
            padding: var(--sp-500) var(--sp-500);
            h2 {
                margin-block-end: var(--sp-300);
            }
            img {
                margin-block-start: var(--sp-400);
                inline-size: 60%;
            }
            @media (width > 460px) {
                align-content: center;
            }            
            @media (width > 960px) {
                padding: var(--sp-400);
                img {
                    margin-block-start: var(--sp-700);
                    inline-size: 90%;
                }
            }
        }
        &:nth-child(7) {
            grid-area: cd-7;
            padding: var(--sp-600);
            img {
                margin-block-start: var(--sp-400);
                inline-size: 67%;
            }   

            @media (width > 960px) {
                padding-inline: var(--sp-400);
                align-content: center;
                img {
                    inline-size: 90%;
                }
            }
        }
        &:nth-child(8) {
            grid-area: cd-8;
            padding: var(--sp-600);
            h2 {
                margin-block-end: var(--sp-300);
            }
            img {
                margin-block-start: var(--sp-400);
                inline-size: 80%;
            }
            @media (width > 460px) {
                padding: var(--sp-500) var(--sp-500);
                text-align: start;
                h2 {
                    margin-block-end: var(--sp-300);
                }                
                img {
                    inline-size: 100%;
                    margin-block-start: 0;                    
                    margin-block-end: var(--sp-400);
                }
            }                  
            @media (width > 960px) {
                padding: var(--sp-400);
                img {
                    inline-size: 100%;
                }
            }
        }
    }
}